**/__pycache__/*
**/data
**/samples
**/models
*/*.log
*/nohup.out
data.tar.gz
mnist_data/
**/*.pdf

# Flow
Flow/impainting
Flow/play

# PixelCNN
PixelCNN/samples*

# Transformer
Transformer/models

# FID
MnistInceptionV3.pth